body {
    font-family: 'Noto Serif', serif;
    width: 70%;
    margin: 0 auto;
    min-width: 320px;
}

h1, h2, h3 {
    font-family: 'Inconsolata', monospace;
}

h1, h2 {
  text-transform: uppercase;
}

h2 {
  padding-top: .5em;
}

h3 {
    font-style: italic;
    color: tomato;
}

a {
    color: tomato;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#content {
  margin-bottom: 75px;
  min-height: 100%;
}

footer {
    font-family: 'Inconsolata', monospace;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5em;
    text-align: center;
    height: 5%;
    background-color: rgba(255,255,255,.85);
    height: 30px;
}

footer hr {
    width: 50%;
    margin: 0 auto;
}

@media screen and (max-width : 992px){
  body {
    width: 80%;
    font-size: 1.25em;
  }
  footer {
    height: 10%;
  }
  #content {
    margin-bottom: 150px;
  }
}

@media screen and (max-width : 768px){
  body {
    width: 95%;
    font-size: 1.5em;
  }
}
